.chat-container {
  display: flex;
  background-color: #61dafb;
}

.recycler-wrapper {
  position: relative;
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  z-index: 0;
}



.message {
  height: 50px;
  border: 1px solid red;
  transform: scaleY(-1);
}